@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0px;
    margin: 0px;
    color:white;
    font-family: 'Press Start 2P', cursive;
}
body{
    background-color: black;
}
h1{
    left: 50%;
    position:absolute;
    transform: translateX(-50%);
}
canvas{
    background-color:black;
    display:block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: double;
}